In [ ]:
Handling csv in python
Course code:CSI3007
Lab no:7
Name:Varshitha V
Reg.no:22MID0105
Date:5/8/25

# Reading an csv file

In [2]:
import pandas as pd   # import pandas

df = pd.read_csv("Downloads/customers.csv")   # read CSV file

df.head()   # show first 5 rows

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,ffeCAb7AbcB0f07,Jared,Jarvis,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,gabriellehartman@benjamin.com,2021-11-11,https://www.mccarthy.info/
1,2,b687FfC4F1600eC,Marie,Malone,Mckay PLC,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,kstafford@sexton.com,2021-05-14,http://www.reynolds.com/
2,3,9FF9ACbc69dcF9c,Elijah,Barrera,Marks and Sons,Kimbury,Barbados,8252703789,459-916-7241x0909,jeanettecross@brown.com,2021-03-17,https://neal.com/
3,4,b49edDB1295FF6E,Sheryl,Montgomery,"Kirby, Vaughn and Sanders",Briannaview,Antarctica (the territory South of 60 deg S),425.475.3586,(392)819-9063,thomassierra@barrett.com,2020-09-23,https://www.powell-bryan.com/
4,5,3dcCbFEB17CCf2E,Jeremy,Houston,Lester-Manning,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,rubenwatkins@jacobs-wallace.info,2020-09-18,https://www.carrillo.com/

# Read an existing CSV file into a DataFrame

In [4]:
import pandas as pd   # import pandas
import os             # import os (used for file handling)

file_path = 'customers.csv'   # file name / path

try:
    # Try to read the CSV file
    df = pd.read_csv(file_path)
    print("CSV file loaded successfully!")

    # Show first 5 rows
    print("\n--- First 5 Rows ---")
    print(df.head())

except FileNotFoundError:
    # If file not found, show error message
    print(f"Error: The file '{file_path}' was not found.")
    df = pd.DataFrame()   # create empty DataFrame if file missing

CSV file loaded successfully!

--- First 5 Rows ---
   Index      Customer Id First Name Last Name          Company  \
0    187  new_customer_id       John       Doe  New Company Inc
1    999               28      50000   1750.25              NaN
2    188         cust_188       Emma    Wilson      Future Tech
3    189         cust_189     Olivia   Johnson         TechSoft

            City        Country       Phone 1       Phone 2  \
0       New York  United States  555-123-4567  555-987-6543
1            NaN            NaN           NaN           NaN
2  San Francisco            USA  222-333-4444  555-666-7777
3        Chicago            USA  123-456-7890  987-654-3210

                        Email Subscription Date                    Website
0        john.doe@example.com        2023-01-01  http://www.newcompany.com
1                         NaN               NaN                        NaN
2     emma.wilson@example.com        2025-09-10  http://www.futuretech.com
3  olivia.johnson@example.com        2025-09-10    http://www.techsoft.com

# Append a new row

In [6]:
#creating new data
new_data = {
    'Index': [189],
    'Customer Id': ['cust_189'],
    'First Name': ['Olivia'],
    'Last Name': ['Johnson'],
    'Company': ['TechSoft'],
    'City': ['Chicago'],
    'Country': ['USA'],
    'Phone 1': ['123-456-7890'],
    'Phone 2': ['987-654-3210'],
    'Email': ['olivia.johnson@example.com'],
    'Subscription Date': ['2025-09-10'],
    'Website': ['http://www.techsoft.com']
}

# create DataFrame from dictionary
new_df = pd.DataFrame(new_data)

# check if CSV already exists
file_exists = os.path.exists(file_path)
new_df.to_csv(file_path, mode='a', header=not file_exists, index=False)

print("\nNew row appended successfully!")

 New row appended successfully!

# Display the contents of new row

In [11]:
# Read the CSV file again
df = pd.read_csv(file_path)

# Show the last row to confirm the new entry
print("\n--- Last Row After Append ---")
print(df.tail(1).to_string(index=False))  # to_string(index=False) hides the DataFrame index

--- Last Row After Append ---
 Index Customer Id First Name Last Name  Company    City Country      Phone 1      Phone 2                      Email Subscription Date                 Website
   189    cust_189     Olivia   Johnson TechSoft Chicago     USA 123-456-7890 987-654-3210 olivia.johnson@example.com        2025-09-10 http://www.techsoft.com

#  Read CSV file chunk by chunk

In [12]:
print("\nReading file in chunks of 100 rows:")

chunk_size = 100   # number of rows per chunk

# Read the CSV in chunks
for i, chunk in enumerate(pd.read_csv(file_path, chunksize=chunk_size)):
    print(f"\n--- Chunk {i+1} ---")
    # Display the chunk without showing the index
    print(chunk.to_string(index=False))

 Reading file in chunks of 100 rows:

--- Chunk 1 ---
 Index     Customer Id First Name Last Name         Company          City       Country      Phone 1      Phone 2                      Email Subscription Date                   Website
   187 new_customer_id       John       Doe New Company Inc      New York United States 555-123-4567 555-987-6543       john.doe@example.com        2023-01-01 http://www.newcompany.com
   999              28      50000   1750.25             NaN           NaN           NaN          NaN          NaN                        NaN               NaN                       NaN
   188        cust_188       Emma    Wilson     Future Tech San Francisco           USA 222-333-4444 555-666-7777    emma.wilson@example.com        2025-09-10 http://www.futuretech.com
   189        cust_189     Olivia   Johnson        TechSoft       Chicago           USA 123-456-7890 987-654-3210 olivia.johnson@example.com        2025-09-10   http://www.techsoft.com
   189        cust_189     Olivia   Johnson        TechSoft       Chicago           USA 123-456-7890 987-654-3210 olivia.johnson@example.com        2025-09-10   http://www.techsoft.com