# Functions in python

In [4]:
def double(x):
    return x*2
double(12)

24

In [5]:
def add(x,y):
    return x+y
add(1,3)

4

In [7]:
def mx(x,y):
    if x>y:
        return x
    else:
        return y
mx(19,34)

34

In [8]:
lambda x:x*2

In [9]:
lambda x,y:x+y

In [2]:
list1=[10,12,9,1,2]
for i in range(len(list1)):
    print(list1[i])

10
12
9
1
2

In [10]:
n=12345 #error int object not iterable
for i in n:
    print(n)

TypeError: 'int' object is not iterable

In [14]:
n='1233334454'#convert to string
for i in n:
    print(i)

1
2
3
3
3
3
4
4
5
4

In [16]:
c=12345#output will be list
digits=[int(d) for d in str(c)]
print(digits)

[1, 2, 3, 4, 5]

In [17]:
print(dir(list1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [25]:
names=['Ema','Tom','Hari']
looper=names.__iter__()#iterable through list,iter don't go backwards
print(type(looper))
print(type(names))

<class 'list_iterator'>
<class 'list'>

In [30]:
names=['Ema','Tom','Hari']
looper=iter(names)#next function
print(next(looper))#shifting moves to next element
print(next(looper))
print(next(looper))
print(next(looper))#error stopiteration

Ema
Tom
Hari

StopIteration:

In [37]:

looper=iter(names)
while True:
    try:
        name=next(looper)
        print(name)
    except StopIteration:
        break

Ema
Tom
Hari

In [42]:
def square (x):
    return x*x
numbers=[1,2,3,4,5]
print(list(map(square,numbers)))#square-func,numbers-list,map func takes every element in list and  do square and stores in list

[1, 4, 9, 16, 25]

In [52]:
a=lambda x:x*3
n=[1,2,3,4,5]
print(list(map(a,n)))#using lambda

[3, 6, 9, 12, 15]

In [53]:
print(list(map(lambda x:x*4,numbers)))

[4, 8, 12, 16, 20]

In [56]:
print(list(filter(lambda x:x>3,numbers)))#acts as filter only allows which satisfies the given condition

[4, 5]

In [57]:
print(list(map(square,numbers)))
print(list(filter(lambda x:x>3,numbers)))

[1, 4, 9, 16, 25]
[4, 5]

In [60]:
list_names=['Priya','Arun','Kishore','Kumar']
print(list(map(lambda x:x.lower(),list_names)))
print(list(map(lambda x:x.upper(),list_names)))

['priya', 'arun', 'kishore', 'kumar']
['PRIYA', 'ARUN', 'KISHORE', 'KUMAR']

In [61]:
from functools import reduce
print(reduce(lambda x,y:x+y,numbers))#cumulatively holding value

15

In [ ]:
map,filter,reduce-one line theme